<% provide(:title, @project.code) %>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <%= @project.code %>
        </div>
        <div class="card-body">
          <section>
            <p>
              <button class="btn btn-sm" type="button" data-toggle="collapse" 
                      data-target="#collapseExample" aria-expanded="false" 
                      aria-controls="collapseExample">
                <%= icon "upload", "Import Files" %>
              </button>
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <%= form_for @project, url: { action: :import_files } do |f| %>
                  <%= f.file_field :files, class: "form-control-file", 
                                           multiple: true %>
                  <%= f.submit "Import", class: "btn btn-primary btn-sm" %>
                <% end %>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    
    
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <%= "" %>
        </br>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>