<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
    <ul class="navbar-nav mr-auto">
      <%= link_to "sample app", root_path, class: "navbar-brand" %>
      <%= nav_item "File", "#" %>
      <%= nav_item "Edit", "#" %>
      <%= nav_item "View", "#" %>
      <%= dropdown "Projects", "#" do %>
        <%= dropdown_menu do %>
          <%= dropdown_item("Add Project...", "#") %>
          <%= dropdown_item("Edit", "#") %>
        <% end %>
      <% end %>
      <%= nav_item "Tools", "#" %>
    </ul>
  
    <ul class="navbar-nav justify-content-end">
      <%= nav_icon "home", root_path %>
      <%= nav_icon "info", help_path %>
      <% if logged_in? %>
        <%= nav_icon "users", users_path %>
        <%= dropdown_icon "bars", "#" do %>
          <%= dropdown_menu "dropdown-menu dropdown-menu-right" do %>
            <h6 class="dropdown-header">Profile Settings</h6>
            <%= dropdown_item_icon("user", current_user, "Profile") %>
            <%= dropdown_item_icon("pencil-square-o", edit_user_path(current_user), 
                                                  "Update Profile") %>
            <%= dropdown_divider %>
            <% if current_user.admin? %>
            <h6 class="dropdown-header">Admin Menu</h6>
            <%= dropdown_item_icon("building", companies_path, "Companies") %>
            <%= dropdown_divider %>
            <% end %>
            <%= link_to icon("sign-out", "Logout"), logout_path, 
                                                    method: :delete, 
                                                    class: "dropdown-item" %>
          <% end %>
        <% end %>
      <% else %>
        <%= nav_item "Log in", login_path %>
      <% end %>
    </ul>
  </nav>
</header>